body{
	background-color:black;
	
}	
*
#slider{
	margin:auto;
	width:800px;
	height:450px;
	margin-top:100px;
	
}
#slider b{
	position:absolute;}

#slider b img{
	padding:10px;
	border:1px solid #ccc;
	backgroud:#fff;
	width:800px;
	height:450px;
}
#slider b:nth-of-type(1){
	animation-name:fader;
	animation-delay:4s;
	animation-duration:1s;
	z-index:20;	
}
#slider b:nth-of-type(2){
	z-index:10;
}
#slider b:nth-of-type(n+3){
	display:none;
}
@keyframes fader{
from{opacity:1.0;}
to{opacity:0.0};
}